{% extends 'base.html.twig' %}

{% block body %}
<section class="search mt-2 mb-2">
    <form action="" class="">
        <input placeholder="Search by glossary or term" type="text">
    </form>
</section>
<a href="{{ path('miniglossary_new') }}" class="btn btn-success">Create a new glossary</a>

<section class="container-cards d-flex row mt-2">
    {% for miniGlossary in miniGlossaries %}
    <div class="card item-card col-12 col-sm-6 col-md-4">
        <div class="header-card">  
            <h4>Glossary: {{ miniGlossary.topic }}</h4>
            <span class="badge badge-info">Desc:{{ miniGlossary.description }}</span> <span class="badge badge-info">Language: {{ miniGlossary.idiom }}</span>
            <span class="badge badge-info"> Creator: {{ miniGlossary.user }}</span>
        </div>
        <div class="card-body">
          <label for="terms__list">Terms:</label>
          <ul>
            {% for term in miniGlossary.terms %}

            <li class="d-flex terms_item mb-2">
              <div class="term___text">{{term}}</div>
              <div class="d-flex">
                <div class="term__translate mr-2"> 
                    {% for translate in term.translates  %}
                    {% if loop.index < 4 %}
                    <span>{{translate}}({{translate.idiom}}),</span>   
                    {% endif %}   
                    {% endfor %}
                    {% if term.translates|length > 3 %}
                    <a href="{{path('term_by_glossary' ,{ 'idGlossary': miniGlossary.id })}}">
                       {{ term.translates|length - 3}} 
                   more</a>
                   {% endif %}

               </div>
               <div class="term__action">
                <button type="button"
                data-term="{{term.id}}"                
                data-term-text="{{term}}"                
                class="btn btn-primary btn-modal__translate btn-sm" data-toggle="modal" data-target="#translateModal">
                TRANSLATE
            </button>
        </div>
    </div>
</li>
<hr>
{% endfor %}

</ul>
</div>
<div class="footer-card d-flex">
  <div class="terms__items-count">
    {{miniGlossary.terms|length}} terms
</div>
<div class="terms__actions">
    {% if miniGlossary.terms|length < 5 %}
    <a href="{{ path('term_new') }}" class="btn btn-success">ADD TERMN</a>
    {% endif %}

</div>
</div> 

</div>
{% endfor %}
</section>
{{ include('miniglossary/translateModal.html.twig') }}
{% endblock %}
{% block javascripts %}
<script>
$(function(){
    $('.btn-modal__translate').on('click', function(){
        let textToTranslate =$(this).data('term-text')
        let termToTranslate = $(this).data('term')

        sessionStorage.setItem('termToTranslate',termToTranslate)
        sessionStorage.setItem('textToTranslate',textToTranslate)
    })

})
</script>

{% endblock %}

